
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}
.head-1,.head2{
  background-color: black;
  color: white

}

.head-3{
background-color: gray;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
