@media (min-width: 48em) {
	
	aside {
		display: flex;
		flex-direction: row;
	}

	aside div {
		width: 100%;
		margin: 10px;

	}

	main div {
		height: 100%;
	}

	.logo {
		width: 80px;
		border-radius: 14px;
		height: 80px;
	}

	main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1em;
	}
	.container{
		grid-column: 1/4;
	  }

	  table, th, td{
		width: 15px;
		justify-content: center;
		border: 1px solid;
		grid-column: 1/2;
		border-radius: 15px;
		margin-bottom: 25px;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 15px;
		width: 500px;
	  }
	  form {
		font-size: 15px;
		 }
	   
		 form.sbs, input{
		   display: block;
		   border-radius: 10px;
		 } 
	.hero {
		grid-column: 1/4;
		grid-row: 1/2;
	}

	.news {
		grid-column: 1/4;
		grid-row: 3/4;
	}

	aside {
		grid-column: 1/4;
		grid-row: 4/5;
	}
	

	.join {
		grid-column: 1/4;
		grid-row: 5/6;
		display: block;
	}

	.event {
		grid-column: 1/3;
		grid-row: 2/3;
	}

	.weater {
		grid-column: 3/4;
		grid-row: 2/3;
	}

	footer {
		display: grid;
		grid-template-columns: 1fr 1fr 2fr;
	}
	
	.logo-footer {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	
	.title-footer {
		grid-column: 2/3;
		grid-row: 1/2;
	}
	.contact {
		grid-column: 3/4;
		grid-row: 1/2;
		justify-self: end;
	}

	.info {
		grid-column: 1/4;
		grid-row: 2/3;
		display: block;
	}

	.info p {
		display: block;
		flex-direction: row;
		width: 100%;
	}

	.date-footer {
		text-align: center;
	}

	.info p span {
		margin: 10px;
	}

	.hide-small {
		display: inline-block;
	}

	.call-to-action {
		right: 15px;
		bottom:25px;
		text-align: center;
	}

	.joinbutton {
		grid-column: 1/4;
		grid-row: 4/5;
	}

	.join-us {
		width: 80%;
		margin-top: 20px;
		padding: 12px;
		background-color: #18c6f1;
		border-radius: 5px;
		border: none;
		font-size: 20px;
	}
	
	.join-us:hover{
		background-color: #0be9b9;
	}

	.herodiscover {
		grid-column: 1/4;
		grid-row: 1/2;
	}

	.event {
		grid-column: 1/3;
		grid-row: 2/3;
	}

	.mygallery {
		display: grid;
		grid-template-columns: 200px 200px;
		justify-content: center;
		grid-gap: 10px;
		height: 80%;
	}
	.mygallery figcaption {
		background-color: #FFECD1;
		padding: 5px;
		text-align: center;
		font-family: 'Lato', sans-serif;
	}	

	.shadow{
		width: 300px;
		width: 400px;
	}

	figcaption{
        width: 200px;
    }
	#thankyou{
		grid-column: 1/5;
        height: 500px;
        font-size: 25px;
		background-color: #0be9b9;
		color: #121335;
	  }
      .links{
		margin-left: 180px;
	  }
	  .directoryPage{
		background-color: #DEE5E5;
		justify-content: center;
	  }     

	.grid-view {
        grid-template-columns: 1fr 1fr;
		width: 65%;
    }
	.grid-view section {
		color: #14213D;
		
	}

	.list-view section{
		display: flex;
		padding: 0 0;
	}
	.list-view section h2, 
	.list-view section p, 
	.list-view section a {
		padding: 0;
		font-size: 13px;
	}
	.list-view section h2 {
		width: 15%;
	}
	.list-view section p {
		width: 15%;
	}
	.dirHeading{
		font-size: 25px;
	}

	.general-inquiries{
		grid-column: 1/5;
		text-align: center;
	  }

	  .contact-info{
		grid-column: 1/5;
		text-align: center;

	  }
}
