

:root {
  --primary-color:#064521;  
  --secondary-color: #ededed;
  --accent1-color: #77ddf7;
  --accent2-color: #000000;
  --accent3-color: #ffffff;

  --heading-font: 'Comfortaa', cursive;
  --paragraph-font: 'Playfair Display', serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: var(--paragraph-font);
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

#head1 {
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  padding: 15px 5px;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
  
  border-radius: 15px;
}
#one2{
  color: #000000;
}
.logo {
  display: flex;
  align-items: center;}
img {
  display: block;
  width: 100%;
  border-radius: 15px;
}

.logo-img {
  max-width: 100px;
}

.logo-message {
  text-align: center;
}
p{
  color: #ffffff;
}
nav.nav-open {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.952);
  inset: 0;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  text-align: center;
  transition: background-color .5s ease;
}

nav {
  display: none;
  
}

nav ul {
  list-style: none;
}

nav ul li:not(:last-of-type) {
  margin-bottom: 25px;
}

nav a {
  padding: 8px 16px;
  color: var(--secondary-color);
}

nav a:hover {
  color: var(--accent1-color);
  padding: 1em;
}
#course2{
  color: #F9F110;
}
#climate{
  color: #ffffff;
}
#Exit-bt {
  position: absolute;
  top: 55px;
  right: 35px;
}

#twoelements{
  display: flex;
  align-items: center;
}
#weth{
  height: 80px;
  width: 80px;
  border-right: 25px;
}
#temp{
  margin-left: 10px;
}
#wind-chill{
  color: #ffffff;
}
#real-climate{
 font-size: 27px;
 margin-left: 20px;
}
a {
  text-decoration: none;
}

header, footer {
  padding: 20px;
}

header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.nav-al {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.nav-t {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.media a:not(:last-of-type) {
  margin-right: 5px;
}

.date1 {
  padding: 10px 0;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  text-align: center;
  border-radius: 15px;
}

.svg1,
.svg3,
.svg2 {
  width: 30px;
  height: 30px;
  fill: var(--secondary-color);
}

.svg1:hover {
  fill: var(--accent1-color);
}

.nav-2,
#Exit-bt {
  background-color: transparent;
  border: none;
}

#Exit-bt .svg2 {
  cursor: pointer;
  fill: var(--accent3-color);
}

.nav-2:hover {
  cursor: pointer;
}

.svg3:hover, 
#Exit-bt:hover .svg2 {
  fill: var(--accent1-color);
}

main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat( 5, minmax(250px, auto) );
  gap: 10px;
  margin: 20px 0;
}
body{
  background-color: #88ecc6;
}
section, .spotlights {
  background-color: #044353;
  padding: 15px;
}
.hero {
  display: grid;
  padding: 0;
}

.hero-img,
.hero-wel {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
}

.hero-wel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px;
}

.buttom-j {
  display: inline-block;
  padding: 12px 25px;
  font-weight: bold;
  font-size: 15px;
  background-color: var(--accent1-color);
  color: var(--primary-color);
  border-radius: 15px;
  height: 50px; 
  width: 200px; 
  line-height: -80px;
}

.news {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.news h2 {
  margin-bottom: 30px;
}

.news p {
  max-width: 480px;
  margin: 0 auto;
}
.join {
  text-align: center;
}

.join-buttom {
  display: block;
  margin-bottom: 30px;
}
 
.join, .spotlight-3 {
  display: none;
}

.join-buttom{
  display: block; 
  height: 50px; 
  width: 200px; 
  background: #606060; 
  color: #ffffff; 
  text-align: center; 
  font-weight: bold; 
  font-size: 100%; 
  line-height: 50px; 
  font-family: Arial; 
  border-radius: 20px; 
  text-decoration: none;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8)
}
h1, h2{
  color: #faf6f6;
  position: relative;;
}
[class^="spotlight-"] {
  border: 1px solid var(--accent2-color);
  min-height: 250px;
}

.event {
  grid-row: 2/3;
}

.weather {
  grid-row: 3/4;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 20px;
  text-align: center;
}

.logo2 {
  max-width: 100px;
  margin: 0 auto 10px auto;
  border-radius: 15px;
}

.footer2 {
  margin-bottom: 10px;
}

.footer3 span {
  display: block;
  margin-bottom: 8px;
}

.footer3 a {
  color: var(--secondary-color);
}

.footer-hr {
  margin: 10px 0;
}

.signature div:not(:last-of-type) {
  margin-bottom: 5px;
}

